<!DOCTYPE html>
<html>

<head>
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

</head>

<body class="body">
    <div class="container-fluid">
        <header>
            <h1>Tic Tac Toe</h1>
        </header>

        <p>Olá. Eu sou o Matias!! Uma IA treinada para derrotá-lo no famoso Jogo da Velha (Tic Tac Toe em inglês).
            <br>Eu treinei para jogar Tic Tac Toe estudando milhares de jogos!! E eu fiquei muito bom nisso!!</p>
        <p>Acha que pode me vencer? Quer tentar?</p>
        <div class="game">
            <div class="canvas">
                <div class="canvas-container">
                    <canvas id="myCanvas" width="300" height="300">
                        Canvas não é suportado no seu browser.
                    </canvas>
                </div>
            </div>
            <div class="options">
                <button type="button" class="btn btn-success myOptions" id="ai_btn">IA Joga Primeiro</button></br>
                <button type="button" class="btn btn-primary myOptions" id="human_btn">Humano Joga Primeiro</button>
                <div class="radio myOptions">
                    <label><input type="radio" name="art" value="O" checked="checked" > O</label>
                    <label><input type="radio" name="art" value="X"/> X</label>
                </div>
            </div>
        </div>
        <div class="status-pl">
            <h2 id="status"></h2>
        </div>
    </div>
    <script type="text/javascript" src="{{url_for('static',filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/main.js')}}"></script>
</body>

</html>