
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python Flask App</title>

   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="#">Login</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Portfólio do Cientista de Dados</h3>
      </div>

      <div class="jumbotron">
        <h1>Acompanhe Meu Portfólio de Projetos</h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Faça Seu Cadastro</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Projeto 1</h4>
          <p>Criação de App Analítica Para Previsão de Vendas.</p>

          <h4>Projeto 2</h4>
          <p>Análise de Sentimentos em Tempo Real.</p>

          <h4>Projeto 3</h4>
          <p>Detecção de Fraude na Contabilidade.</p>
        </div>

        <div class="col-lg-6">
          <h4>Projeto 4</h4>
          <p>Análise e Previsão de Turnover dos Colaboradores.</p>

          <h4>Projeto 5</h4>
          <p>Dashboard de Previsão de Faturamento em Tempo Real Por Produto e Por Região.</p>

          <h4>Projeto 6</h4>
          <p>Robô Advogado.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Data Science Academy</p>
      </footer>

    </div>
  </body>
</html>

